.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.banner {
  position: fixed;
  top: 0;
  padding-top: 10px;
  background-color: white;
  z-index: 1000;
}

.link {
  color: blue;
  text-decoration: underline;
}

.header {
  text-align: center;
  font-size: 32px;
}

.card {
  position: fixed;
  bottom: 20px;
  right: 10px;
  width: 300px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.card > div {
  font-weight: bold;
  font-size: 18px;
}
