.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.banner {
  position: fixed;
  top: 0;
  padding-top: 10px;
  background-color: white;
  z-index: 1000;
}

.link {
  color: blue;
  text-decoration: underline;
}
